// style in here pertains to all components
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    color: rgb(54, 54, 54)
}

// importing the sub styles 
@import "./song";
@import "./player";